<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="nav-item nav-brand"><a href="/">bloggy</a></li>
            <li class="nav-item"><a href="/About">About</a></li>
            <li class="nav-item"><a href="">Testimonials</a></li>
            <li class="nav-item"><a href="/Contact">Get in Touch</a></li>
        </ul> 
    </nav>
</body>
</html>