<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
        <div class="about">
            <div class="left">
                <img src="/images/b.webp" alt="">
            </div>

            <div class="right">
                <div class="content">
                    <h1>Welcome to Bloggy</h1>
                    <p>At Bloggy, we believe in the power of words to connect people, share ideas, and inspire change. Our platform is designed for writers, readers, and everyone in between. Whether you're a seasoned blogger or just starting, Bloggy provides the tools and community you need to succeed.</p>
                </div>
                
            </div>
        </div>
        <%- include('partials/footer') %>
        <script src="https://kit.fontawesome.com/6ff22b7768.js" crossorigin="anonymous"></script>
</body>
</html>

