<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="contact-container">
        
        <form action="">
            <h1>Contact us</h1>
            <input type="text" name="" id="" placeholder="Name">
            <input type="text" name="" id="" placeholder="Email">
            <textarea name="yourTextareaName" id="yourTextareaId" rows="4" cols="50" placeholder="Comment"></textarea>
            <input type="submit" value="SUBMIT" id="" class="contact-btn">
        </form>
    </div>
        
    <%- include('partials/footer') %>
    <script src="https://kit.fontawesome.com/6ff22b7768.js" crossorigin="anonymous"></script>
</body>
</html>